body {
    background-image: linear-gradient(to bottom right, white, green);
    background-repeat: no repeat;
   
    color: white;
}

h1 {
    text-shadow: 2px 2px #F8BBDO;
    font-size: 30px;
    text-align: center
}

#bio {
    padding: 20px;
    font-size: 20px;
}

img {
    border-radius: 50%;
    width: 150px;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  
}


#name{
    font-family: 'Source Sans Pro', cursive;
    color: white;
    
}

.menu {
    list-style-type: none;   
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

